@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Bold.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Medium.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Regular.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2);
    font-weight: normal;
}


/*
  selector {
    1. layout
    2. pos
    3. appearance
    4. font
  }
  */
/*공통*/
:root {
    --border: #ededed;
    --border-darker: #bbb;
    --font: #666;
    --accent: #004680;

    font-family: Pretendard, auto;
    font-size: 16px;
    color: var(--font);
}

* {
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
    color: inherit;
    caret-color: var(--accent);
}

::selection {
    color: white;
    background-color: var(--accent);
}

/*재사용 요소*/
a {
    color: var(--accent);
    text-decoration: none;
}

img {
    border-radius: 0.5rem;
}

img::before {
    content: attr(alt);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border);
    align-items: center;
    justify-content: center;
}

ul, ol {
    list-style: none;
}

code {
    background: var(--border);
    padding: 0.25rem;
    border-radius: 0.2rem;
}

blockquote {
    padding: 0 1rem;
    border-left: 0.3rem solid var(--border);
    color: var(--border-darker);
}

/*레이아웃 요소*/
body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

/*헤더*/
header {
    display: flex;
    height: 4rem;
    border-bottom: 1px solid var(--border);
}

header>.logo {
    margin-right: auto;
    padding: 0 0.75rem;
    cursor: pointer;
}

header>.logo>* {
    pointer-events: none;
}

header>.logo>img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.75rem;
    float: left;
}

header>.logo>img::before {
    font-size: 1.5rem;
}

header>.logo>span {
    display: inline-block;
    height: 2.5rem;
    margin: 0.75rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--font);
}

header>nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin-right: 1rem;
}

header>nav>a {
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0 0.5rem;
    color: var(--font);
    line-height: 4rem;
    border-bottom: 2px solid transparent;
    transition: border-color 150ms;
}

header>nav>a:hover {
    border-bottom-color: var(--font);
}

/*footer*/
footer {
    padding: 2rem 0 5rem 0;
    background: var(--border);
    text-align: center;
}

/*contents 영역*/
.middle {
    flex: 1;
    text-align: center;
}

.middle>main {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 45rem;
    padding: 1rem;
    line-break: anywhere;
}

.profile {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.profile__left {
    flex: 1;   
}

.profile__left__avatar { 
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 10%;
    aspect-ratio: 1 / 1;
    border: 0.25rem solid var(--border);
    border-radius: 50%;
    overflow: hidden;
}

.profile__left__avatar > img {
    width: 100%;
    height: 100%;
}

.profile__right{
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile__right__description {
    flex: 1;
    padding: 0.5rem;
}
.profile__right__description::before{
    content: '/* intro */';
    display: block;
    margin: 1rem 0 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.profile__right__skills {
    flex: 3;
    padding: 0.5rem;
}
.profile__right__skills::before{
    content: '/* skill */';
    display: block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.profile__right__skills > li {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background: var(--accent);
    color: white;
}
.posts {
    margin: 0 -1rem;
}
.posts > ul {
    height: 15rem;
    transition: height 500ms;
}
.posts > ul:has(.post:nth-child(4)) {
    height: 30rem;
}
.posts > ul:has(.post:nth-child(7)) {
    height: 45rem;
}
.posts > ul:has(.post:nth-child(10)) {
    height: 60rem;
}
.posts > ul:has(.post:nth-child(13)) {
    height: 75rem;
}
.post {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid var(--border-darker);
    padding: 0.5rem;
    width: 15rem;
    height: 15rem;
    background: white;
    transition: transform 200ms;
    box-sizing: border-box;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}



@keyframes slideToBig_x1 {
    from {
        left: 0;
    }
    to {
        left: -15rem
    }
}
@keyframes slideToBig_x2 {
    from {
        left: 15rem;
    }
    to {
        left: 0;
    }
}
@keyframes slideToBig_x3 {
    from {
        left: 30rem;
    }
    to {
        left: 15rem
    }
}


@keyframes slideToBig_x4 {
    from {
        top: 15rem;
        left: 0;
    }
    to {
        top: 0;
        left: 30rem
    }
}
@keyframes slideToBig_x5 {
    from {
        top: 15rem;
        left: 15rem;
    }
    to {
        top: 0;
        left: 45rem
    }
}
@keyframes slideToBig_x6 {
    from {
        left: 30rem;
    }
    to {
        left: -15rem;
    }
}


@keyframes slideToBig_x7 {
    from {
        top: 30rem;
    }
    to {
        top: 15rem;
    }
}
@keyframes slideToBig_x8 {
    from {
        top: 30rem;
    }
    to {
        top: 15rem;
    }
}
@keyframes slideToBig_x9 {
    from {
        top: 30rem;
    }
    to {
        top: 15rem;
    }
}


@keyframes slideToBig_x10 {
    from {
        top: 45rem;
        left: 0;
    }
    to {
        top: 15rem;
        left: 45rem;
    }
}
@keyframes slideToBig_x11 {
    from {
        top: 45rem;
        left: 15rem;
    }
    to {
        top: 30rem;
        left: -15rem;
    }
}
@keyframes slideToBig_x12 {
    from {
        top: 45rem;
        left: 30rem;
    }
    to {
        top: 30rem;
        left: 0;
    }
}

@keyframes slideToBig_x13 {
    from {
        top: 60rem;
        left: 0;
    }
    to {
        top: 30rem;
        left: 15rem;
    }
}
@keyframes slideToBig_x14 {
    from {
        top: 60rem;
        left: 15rem;
    }
    to {
        top: 30rem;
        left: 30rem;
    }
}
@keyframes slideToBig_x15 {
    from {
        top: 60rem;
        left: 30rem;
    }
    to {
        top: 30rem;
        left: 45rem;
    }
}









@keyframes slideToBig_r1 {
    to {
        left: 0;
    }
    from {
        left: -15rem
    }
}
@keyframes slideToBig_r2 {
    to {
        left: 15rem;
    }
    from {
        left: 0;
    }
}
@keyframes slideToBig_r3 {
    to {
        left: 30rem;
    }
    from {
        left: 15rem
    }
}


@keyframes slideToBig_r4 {
    to {
        top: 15rem;
        left: 0;
    }
    from {
        top: 0;
        left: 30rem
    }
}
@keyframes slideToBig_r5 {
    to {
        top: 15rem;
        left: 15rem;
    }
    from {
        top: 0;
        left: 45rem
    }
}
@keyframes slideToBig_r6 {
    to {
        left: 30rem;
    }
    from {
        left: -15rem;
    }
}


@keyframes slideToBig_r7 {
    to {
        top: 30rem;
    }
    from {
        top: 15rem;
    }
}
@keyframes slideToBig_r8 {
    to {
        top: 30rem;
    }
    from {
        top: 15rem;
    }
}
@keyframes slideToBig_r9 {
    to {
        top: 30rem;
    }
    from {
        top: 15rem;
    }
}


@keyframes slideToBig_r10 {
    to {
        top: 45rem;
        left: 0;
    }
    from {
        top: 15rem;
        left: 45rem;
    }
}
@keyframes slideToBig_r11 {
    to {
        top: 45rem;
        left: 15rem;
    }
    from {
        top: 30rem;
        left: -15rem;
    }
}
@keyframes slideToBig_r12 {
    to {
        top: 45rem;
        left: 30rem;
    }
    from {
        top: 30rem;
        left: 0;
    }
}

@keyframes slideToBig_r13 {
    to {
        top: 60rem;
        left: 0;
    }
    from {
        top: 30rem;
        left: 15rem;
    }
}
@keyframes slideToBig_r14 {
    to {
        top: 60rem;
        left: 15rem;
    }
    from {
        top: 30rem;
        left: 30rem;
    }
}
@keyframes slideToBig_r15 {
    to {
        top: 60rem;
        left: 30rem;
    }
    from {
        top: 30rem;
        left: 45rem;
    }
}


.post:nth-child(3n+1){
    left: 0;
}
.post:nth-child(3n+2){
    left: 15rem;
}
.post:nth-child(3n+3){
    left: 30rem;
}
.post:nth-child(n-3){
    top: 0;
}
.post:nth-child(n+4):nth-child(n-6){
    top: 15rem;
}
.post:nth-child(n+7):nth-child(n-9){
    top: 30rem;
}
.post:nth-child(n+10):nth-child(n-12){
    top: 45rem;
}
.post:nth-child(n+13){
    top: 60rem;
}

.post:nth-child(1){animation-name: slideToBig_r1;}
.post:nth-child(2){animation-name: slideToBig_r2;}
.post:nth-child(3){animation-name: slideToBig_r3;}
.post:nth-child(4){animation-name: slideToBig_r4;}
.post:nth-child(5){animation-name: slideToBig_r5;}
.post:nth-child(6){animation-name: slideToBig_r6;}
.post:nth-child(7){animation-name: slideToBig_r7;}
.post:nth-child(8){animation-name: slideToBig_r8;}
.post:nth-child(9){animation-name: slideToBig_r9;}
.post:nth-child(10){animation-name: slideToBig_r10;}
.post:nth-child(11){animation-name: slideToBig_r11;}
.post:nth-child(12){animation-name: slideToBig_r12;}
.post:nth-child(13){animation-name: slideToBig_r13;}
.post:nth-child(14){animation-name: slideToBig_r14;}
.post:nth-child(15){animation-name: slideToBig_r15;}
@media screen and (width > 80rem) {
    .posts > ul:has(.post:nth-child(1)) {
        height: 15rem;
    }
    .posts > ul:has(.post:nth-child(6)) {
        height: 30rem;
    }
    .posts > ul:has(.post:nth-child(11)) {
        height: 45rem;
    }
    .post:nth-child(1){animation-name: slideToBig_x1;}
    .post:nth-child(2){animation-name: slideToBig_x2;}
    .post:nth-child(3){animation-name: slideToBig_x3;}
    .post:nth-child(4){animation-name: slideToBig_x4;}
    .post:nth-child(5){animation-name: slideToBig_x5;}
    .post:nth-child(6){animation-name: slideToBig_x6;}
    .post:nth-child(7){animation-name: slideToBig_x7;}
    .post:nth-child(8){animation-name: slideToBig_x8;}
    .post:nth-child(9){animation-name: slideToBig_x9;}
    .post:nth-child(10){animation-name: slideToBig_x10;}
    .post:nth-child(11){animation-name: slideToBig_x11;}
    .post:nth-child(12){animation-name: slideToBig_x12;}
    .post:nth-child(13){animation-name: slideToBig_x13;}
    .post:nth-child(14){animation-name: slideToBig_x14;}
    .post:nth-child(15){animation-name: slideToBig_x15;}
}
.post:hover {
    transform: scale(1.07);
    z-index: 1;
}
p.post__label {
    color: var(--accent);
    text-align: left;
}
.post > .post__label > span + span {
    display: none;
}
.post_detail > .post__label > span + span {
    padding-left: 1rem;
}
p.post__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
}
p.post__datetime {
    text-align: right;
    font-size: 0.8rem;
    opacity: 0.8;
}
p.post__desc {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    margin-top: 0.5rem;
    opacity: 0.8;
}
span.post__desc {
    display: block;
    overflow-y: auto;
    white-space: pre-line;
    max-width: 55rem !important;
}
span.post__datetime {
    font-size: 0.8rem;
    opacity: 0.8;
}
.post_detail {
    position: fixed;
    box-sizing: border-box;
    z-index:99;
    padding: 4rem 2.5rem;
}
.post_detail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--border-darker);
    background: white;
    z-index: -1;
}
.post_detail::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000AA;
    z-index: -2;
}
.post_detail > *:not(button) {
    max-width: 75rem;
    margin: auto;
}
.post_detail > p.post__title {
    padding: 0.5rem 10rem 0.5rem 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    justify-content: flex-start;
    font-size: 3rem;
    line-height: 4.5rem;
    word-break: keep-all;
}
.post_detail__back {
    position: absolute;
    bottom: 100%;
    margin-left: -3rem;
    padding: 0.5rem 0;
    color: white;
    background:none;
    width: 3rem;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.25rem;
    transition: transform 150ms, opacity 150ms, left 100ms;
}
.post_detail__back:hover {
    opacity: 1;
    transform: scale(1.05);
}
.git__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--border);
    border: 1px solid var(--border-darker);
    text-align: left;
    font-size: 1.1rem;
}
.repo {
    order: 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: fit-content(100px) 1fr fit-content(100px) fit-content(100px);
}
.repo > * {
    display: block;
}
.repo__lang {
    --lang-color: var(--accent);
}
.repo__lang::before {
    content: '';
    display: block;
    float: left;
    width: 0.9rem;
    height: 0.9rem;
    margin: 0.3rem;
    border-radius: 0.45rem;
    margin-left: 0.1rem;
    background-color: var(--lang-color);
}
.repo__lang::after {
    content: attr(data-lang);
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-right: 0.3rem;
}
.repo__title {
    font-weight: bold;
    color: inherit;
}
.repo__star {
    margin-right: 1rem;
}
.repo__star::before {
    content: '⭐';
    margin-right: 0.5rem;
    margin-top: -0.125rem;
}
.repo__fold_button {
    transform: rotate(45deg);
    background: none;
    cursor: pointer;
}
.repo__fold_button::after {
    content: '🗙';
    padding: 0 0.2rem;
    font-size: 1.3rem;
    line-height: 1.1rem;
}
.repo__desc {
    grid-column: 1 / 5;
}
.issue__item {
    order: 2;
    padding: 0.5rem 2.5rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--border-darker);
}
.issue__item::before{
    content: '';
    display: block;
    position: absolute;
    left: 0.6rem;
    top: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: content-box;
    line-height: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.issue__item[data-state="open"]::before{
    content: '·';
    color: #1f883d;
    border-color: #1f883d;
}
.issue__item[data-state="closed"]::before{
    content: '✓';
    color:#8250df;
    border-color: #8250df;
    font-weight: 400;
}
.issue__item + .issue__item {
    margin-top: 0.5rem;
}
.issue__item__title {
    font-weight: bold;
    color: #1e90ff;
    margin-right: 0.5rem;
}
.issue__item__datetime {
    display: inline-block;
    font-size: 0.8rem;
    opacity: 0.8;
}
.issue__item__desc {
    display: block;
    max-height: 30rem;
    overflow-y: auto;
    white-space: pre-line;
    zoom: 0.85;
}
.issue__item__desc ul {
    list-style: disc;
}
.issue__item__desc ol {
    list-style: auto;
}
.issue__item__desc ul, .issue__item__desc ol {
    padding-inline-start: 2em;
}
.issue__item__desc img {
    border-radius: 0;
}
.issue__item__desc a {
    text-decoration: underline;
}
.issue__item__label:not(:empty){
    padding-top: 0.5rem;
    margin-right: -0.5rem;
}
.issue__item__label > li {
    display: inline-block;
    --label-color: var(--accent);
    background: var(--label-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    color: white;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.issue__item__full_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23BBBBBBFF' stroke-width='4' stroke-dasharray='13%2c 10' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
    background-color: transparent;
    border-radius: 2px;
}
.issue__item__full_button:hover{
    outline: 5px solid var(--border);
    background-color: var(--border);
    cursor: pointer;
}
.issue_counter {
    order: -1;
    position: absolute;
    background: red;
    padding: 0.1rem 0.5rem;
    border-radius: 0.8rem;
    color: white;
    z-index: 2;
    top: -0.6rem;
    left: -0.6rem;
}
.issue__item__next, .posts__next {
    order: 2;
    width: 10rem;
    margin: 0.5rem auto 0 auto;
    height: 2.5rem;
    background: transparent;
    border: 1px solid var(--font);
    border-radius: 1.25rem;
    cursor: pointer;
}
.issue__item__next:active, .posts__next:active{
    opacity: 0.6;
}
.issue__item__next.end, .posts__next.end {
    pointer-events: none;
    border: none;
}
.issue__item__next:after, .posts__next:after{
    content: 'load next';
}
.issue__item__next.end:after, .posts__next.end:after{
    content: 'end of load';
}
.fold .repo {
    grid-template-columns: fit-content(100px) 1fr fit-content(100px) fit-content(100px);
}
.fold .repo__desc {
    grid-column: 1 / 5;
}
.fold .issue_counter {
    order: 1;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--border-darker);
    color: inherit;
    position: relative;
    top: unset;
    left: unset;
}
.fold .issue_counter::after {
    content: ' open issues more...';
}
.fold .issue__item {
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    padding: 0;
    border: 0;
    height: 0;
    margin: 0;
}
.fold .issue__item__next {
    display: none;
}
.full {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 99;
    overflow-y: auto;
}
.full-mode {
    overflow: hidden;
}
.full-mode > .full {
    pointer-events: all;
}
.full * {
    pointer-events: all;
}
.full > .issue__item {
    position: relative;
    width: calc(100% - 10rem);
    max-width: 75rem;
    min-height: 50vh;
    padding: 3rem;
    margin: 5rem auto;
    box-sizing: border-box;
    box-shadow: 0 0 0 50vh #00000055;
    list-style: none;
    z-index: 99;
}
.full > .issue__item::before {
    position: absolute;
    left: 1rem;
}
.full > .issue__item > .issue__item__desc{
    max-height: unset;
}