@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Bold.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Medium.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Pretendard;
    src: url(/Pretendard-Regular.woff2), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2);
    font-weight: normal;
}


/*
  selector {
    1. layout
    2. pos
    3. appearance
    4. font
  }
  */
/*공통*/
:root {
    font-family: Pretendard, auto;
    font-size: 16px;
    --border: #ededed;
    --border-darker: #bbb;
    --font: #666;
    --accent: #004680;
}

* {
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--font);
    caret-color: var(--accent);
}

::selection {
    color: white;
    background-color: var(--accent);
}

/*재사용 요소*/
a {
    color: var(--accent);
    text-decoration: none;
}

img {
    border-radius: 0.5rem;
}

img::before {
    content: attr(alt);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border);
    align-items: center;
    justify-content: center;
}

ul, ol {
    list-style: none;
}

/*레이아웃 요소*/
body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

/*헤더*/
header {
    display: flex;
    height: 4rem;
    border-bottom: 1px solid var(--border);
}

header>.logo {
    margin-right: auto;
    padding: 0 0.75rem;
    cursor: pointer;
}

header>.logo>* {
    pointer-events: none;
}

header>.logo>img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.75rem;
    float: left;
}

header>.logo>img::before {
    font-size: 1.5rem;
}

header>.logo>span {
    display: inline-block;
    height: 2.5rem;
    margin: 0.75rem;
    line-height: 2.5rem;
    font-weight: 600;
}

header>nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin-right: 1rem;
}

header>nav>a {
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0 0.5rem;
    color: var(--font);
    line-height: 4rem;
    border-bottom: 2px solid transparent;
    transition: border-color 150ms;
}

header>nav>a:hover {
    border-bottom-color: var(--font);
}

/*footer*/
footer {
    padding: 2rem 0 5rem 0;
    background: var(--border);
    text-align: center;
}

/*contents 영역*/
.middle {
    flex: 1;
    text-align: center;
}

.middle>main {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 45rem;
    padding: 1rem;
    line-break: anywhere;
}

.profile {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.profile__left {
    flex: 1;   
}

.profile__left__avatar { 
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 10%;
    aspect-ratio: 1 / 1;
    border: 0.25rem solid var(--border);
    border-radius: 50%;
    overflow: hidden;
}

.profile__left__avatar > img {
    width: 100%;
    height: 100%;
}

.profile__right{
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile__right__description {
    flex: 1;
    padding: 0.5rem;
}
.profile__right__description::before{
    content: '/* intro */';
    display: block;
    margin: 1rem 0 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.profile__right__skills {
    flex: 3;
    padding: 0.5rem;
}
.profile__right__skills::before{
    content: '/* skill */';
    display: block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.profile__right__skills > li {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background: var(--accent);
    color: white;
}
.posts > ul > li {
    width: 49%;
    background: var(--border);
    float: left;
    margin: 0.5%;
}
.posts > ul > li > img {
    display: block;
    border-radius: 0;
    aspect-ratio: 3;
}
.posts > ul > li > p {
    border-top: 1px solid white;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 0.5rem;
}
.git {
    counter-reset: issue;
}
.git__wrap {
    counter-set: issue 0;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--border);
    border: 1px solid var(--border-darker);
    text-align: left;
    font-size: 1.1rem;
}
.repo {
    order: 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: fit-content(100px) 1fr fit-content(100px) fit-content(100px);
}
.repo > * {
    display: block;
}
.repo__title {
    font-weight: bold;
}
.repo__star::before {
    content: '⭐';
    margin-right: 0.5rem;
    margin-top: -0.125rem;
}
.repo__fold_button {
    margin-top: -0.125rem;
}
.repo__fold_button::after {
    content: '🗙';
    padding: 0 0.2rem;
    font-size: 1.3rem;
    line-height: 1.1rem;
}
.repo__desc {
    grid-column: 1 / 5;
}
.issue__item {
    order: 2;
    counter-increment: issue;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--border-darker);
}
.issue__item + .issue__item {
    margin-top: 1rem;
}
.issue_counter {
    order: -1;
    position: absolute;
    background: red;
    padding: 0.1rem 0.5rem;
    border-radius: 0.8rem;
    color: white;
    z-index: 2;
    top: -0.6rem;
    left: -0.6rem;
}
.issue_counter:before {
    content: counter(issue);
}

.fold .repo {
    grid-template-columns: fit-content(100px) 1fr fit-content(100px) fit-content(100px);
}
.fold .repo__desc {
    grid-column: 1 / 5;
}
.fold .issue_counter {
    order: 1;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--border-darker);
    color: inherit;
    position: relative;
    top: unset;
    left: unset;
}
.fold .issue_counter::after {
    content: ' issues more...';
}
.fold .issue__item {
    display: none;
}