
.cursor,
.cursor * {
    font-size: 3rem;
}

.cursor {
    background: #BFD7FB;
    filter: brightness(1.2);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin: -1em 0 0 -1em;
    border-radius: 50%;
    opacity: 0.9;
    animation: cursor-bg 0.7s;
    pointer-events: none;
}

@keyframes cursor-bg {
    0% {
        background: #BFD7FB;
        width: 2em;
        height: 2em;
        margin: -1em 0 0 -1em;
    }

    10% {
        background-color: #6999FBDD;
        width: 2.8em;
        height: 2.8em;
        margin: -1.4em 0 0 -1.4em;
    }

    60% {
        background-color: #FFFFFF00;
    }

    100% {
        background-color: #FFFFFF00;
        width: 4.6em;
        height: 4.6em;
        margin: -2.3em 0 0 -2.3em;
    }
}

@keyframes cursor-border {
    0% {
        transform: rotate(45deg);
    }

    5% {
        transform: rotate(45deg);
    }

    40% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

.mainCircle {
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: center right;
    overflow: hidden;
    filter: drop-shadow(0 0 0.3em var(--bright-blue));
}

.mainCircle::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    border: 1px solid;
    border-color: #BFD7FB #BFD7FB transparent transparent;
    transform: rotate(-135deg);
    border-radius: 50%;
    animation: cursor-border 0.7s;
}

.a {
    transform: rotate(120deg);
}

.b {
    transform: rotate(240deg);
}

.c {
    transform: rotate(60deg);
}

.particle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
}

.particle::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0.3em solid transparent;
    border-top: 0;
    border-bottom: 0.6em solid #BFD7FB;
    --rotate: inherit;
    transform: rotate(var(--rotate)) translate(-50%, -50%);
    transform-origin: top left;
}